# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build artifacts
build/

# Coverage
coverage

# Build output
build/
dist/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# Playwright test results
test-results/
playwright-report/